:root {
    background-color: rgb(219, 218, 218);
    color: rgb(51, 49, 49);
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: rgb(51, 49, 49);
    font-family: 'Gilda Display';
    text-align: center;
    font-weight: 900;
}

.input-group{
    text-align: center;
    padding: 0.4rem;
    width: auto;
    margin: 0.5rem;
}

 .jumbotron{
    text-align: center;
    padding: 0.4rem;
    width: auto;
    margin: 0.5rem;
}

.my-4{
    background-color: rgb(51, 49, 49);
    font-size: 2rem;
    height: 0.3rem;
    width: 100%;
}
