:root, body {
    background-color: white;
    color: rgb(51, 49, 49);
}

h1{
    color: rgb(51, 49, 49);
    font-family: 'Gilda Display';
    text-align: center;
    margin:20%;
    font-size: 2.5rem;
    padding:1%;
}

.lead{
    color: rgb(51, 49, 49);
    font-family: 'Gilda Display';
    text-align: center;
    font-size: 5rem;
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#clock{
    width:465px;
    height: 75px;
    font-size: 2rem;
    color: rgb(231, 224, 224);
    background-color:rgb(0, 0, 50);
    text-align: center;
    padding: 0.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: auto;
    display: flex;
    align-items: center;
    border-color: black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}
.input-group{
    text-align: center;
    padding: 0.4rem;
    width: 100%;
    margin: 0.5rem;
}

.container{
    text-align: center;
    padding: 0%;
    margin-top: 2%;
    background-color: white;
}


.my-4{
    background-color: rgb(51, 49, 49);
    height: 0.3rem;
    width: 100%;
    margin-top: 0.2em;
}
